/* =========> CSS Settings <========= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

/* Page structure (header main footer) */

header, main, footer {
    padding-left: 40px;
    padding-right: 40px;
}


/* ====== Header ====== */

header {
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-family: 'Sulphur Point', sans-serif;
    color: #0065fc;
    padding-top: 20px;
}

header img {
    height: 36px;
    margin-top: 22px;
}

/* Navigation */

nav ul {
    display: flex;
    gap: 25px;
    list-style-type: none;
}

nav li a {
    text-decoration: none;
    color: black;
    padding: 37px 20px 00px 20px;
    display: block;
    border-top: 3px solid white;
}

nav li a:hover {
    color: #0065FC;
    border-top: 3px solid;
    position: relative;
}


/* ====== Main ====== */

.titre {
    font-weight: 700;
    font-size: 22px;
    margin-top: 2em;
}

.sous-titre {
    font-weight: 400;
    font-size: 16px;
    margin-top: 9px;
}

/* Barre de recherche */

.recherche
{ 
    height: 52px;
    display: flex;
    margin-top: 18px;
}

.fa-location-dot {
    font-size: 18px;
    height: 51px;
    padding: 18px;
    background-color: #d9d9d9;
    border-radius: 16px 0 0 16px;
}

input[type=search] {
    width: 237px;
    height: 51px;
    padding-left: 17px;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    border: none;
    border-top: 1px #d9d9d9 solid;
    border-bottom: 1px #d9d9d9 solid;
}

button {
    width: 133px;
    height: 51px;
    border-radius: 0px 16px 16px 0px;
    border: 0px #d9d9d9 solid;
    background-color: #0065FC;
    color: white;
    font-size: 17px;
    cursor: pointer;
}

button:hover {
    color: #0065FC;
    background-color: #d9d9d9;
}

.loupe {
    display: none;
}

/* Filtres */

.filtres {
    font-size: 18px;
    font-weight: 700;
    margin-top: 29px;
    display: flex;
    align-items: center;
}

.wrap-filtre {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.filtre {
    margin-left: 48px;
    border: 2px solid #d9d9d9;
    padding: 15px;
    border-radius: 30px;
    display: flex;
    align-items: baseline;
    cursor: pointer;
}

.filtre:hover {
    background-color: #deebff;
}

.filtre i {
    color: #0065FC;
    font-size: 20px;
}

.filtre span {
    padding-left: 15px;
}

/* Infos */

.infos {
    margin-top: 35px;
}