/* =========> CSS Settings <========= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

/* Page structure (header main footer) */

header, main, footer {
    padding-left: 40px;
    padding-right: 40px;
}


/* ====== Header ====== */

header {
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-family: 'Sulphur Point', sans-serif;
    color: #0065fc;
    padding-top: 20px;
}

header img {
    height: 36px;
    margin-top: 22px;
}

/* Navigation */

nav ul {
    display: flex;
    gap: 25px;
    list-style-type: none;
}

nav li a {
    text-decoration: none;
    color: black;
    padding: 37px 20px 00px 20px;
    display: block;
    border-top: 3px solid white;
}

nav li a:hover {
    color: #0065FC;
    border-top: 3px solid;
    position: relative;
}


/* ====== Main ====== */

.titre {
    font-weight: 700;
    font-size: 22px;
    margin-top: 2em;
}

.sous-titre {
    font-weight: 500;
    font-size: 16px;
    margin-top: 9px;
}

/* Barre de recherche */

.recherche
{ 
    height: 52px;
    display: flex;
    margin-top: 18px;
}

.fa-location-dot {
    font-size: 18px;
    height: 51px;
    padding: 18px;
    background-color: #d9d9d9;
    border-radius: 16px 0 0 16px;
}

input[type=search] {
    width: 237px;
    height: 51px;
    padding-left: 17px;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    border: none;
    border-top: 1px #d9d9d9 solid;
    border-bottom: 1px #d9d9d9 solid;
}

button {
    width: 133px;
    height: 51px;
    border-radius: 0px 16px 16px 0px;
    border: 0px #d9d9d9 solid;
    background-color: #0065FC;
    color: white;
    font-size: 17px;
    cursor: pointer;
}

button:hover {
    color: #0065FC;
    background-color: #d9d9d9;
}

.loupe {
    display: none;
}

/* Filtres */

.filtres {
    font-size: 18px;
    font-weight: 700;
    margin-top: 32px;
    display: flex;
    align-items: center;
}

.filtres-title {
    font-size: 18px;
}

.wrap-filtre {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.filtre {
    margin-left: 48px;
    border: 2px solid #d9d9d9;
    padding: 15px;
    border-radius: 30px;
    display: flex;
    align-items: baseline;
    cursor: pointer;
}

.filtre:hover {
    background-color: #deebff;
}

.filtre i {
    color: #0065FC;
    font-size: 20px;
}

.filtre span {
    padding-left: 15px;
}

/* Infos */

.infos {
    margin-top: 35px;
    display: flex;
}

.fa-info {
    border: 1px solid #d9d9d9;
    padding: 4px 7px 4px 7px;
    border-radius: 30px;
    font-size: 13px;
    color: #0065FC;
}

.infos span {
    padding-left: 8px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
}


/* === Hébergements et les plus populaires === */

/* == Hébergements_Activté == */

.hebergement_activite {
    display: flex;
    margin-top: 45px;
    justify-content: space-between;
    align-items: stretch;
}

/* Les titres du bloc */

h2 {
    font-weight: 700;
    font-size: 22px;
}

/* Les noms des cartes */

h3 {
    font-size: 17px;
    font-weight: 700;
}


/* = Case-Hébergements =*/

.case-hebergements
{
    width: 64%;
    border-radius: 20px;
    padding: 30px;
    background-color: #d9d9d9;
}

.case-hebergements h2 {
    margin-top: 10px;
}

/* Première bloc */

.premier-bloc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 27px 15px;
    gap: 37px;
}

/* Carre-Hébergements */

.carre-hebergements {
    height: 190px;
    width: 240px;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2);
}

.carre-hebergements img {
    height: 108px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.carre-hebergements h3 {
    margin: 5px 0 0 11px;
}

.carre-hebergements .prix {
    margin: 5px 0 0 11px;
    font-weight: 500;
    font-size: 14px;
}

mark {
    background: none;
    font-weight: 700;
}

.carre-hebergements .etoile {
    margin: 5px 0 0 11px;
    color: #0065FC;
    font-size: 11px;
}

/* Etoile Gris */

.stargray {
    color: #d9d9d9;
}

/* Lien Afficher */

.affiche-plus {
    font-size: 18px;
    font-weight: 700;
    margin: 15px 0 0 13px
}


/* = Case-Populaires = */

.case-populaires {
    width: 29%;
    border-radius: 20px;
    padding: 30px;
    background-color: #d9d9d9;
}

/* Titre populaire */

.populaire-titre {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-right: 15px;
    margin-top: 10px;
}

.populaire-titre img {
    height: 20px;
}

/* Deuxième bloc */

.deuxieme-bloc {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 27px 7px;
}

/* Carré populaires */

.carre-populaires {
    height: 137px;
    width: 100%;
    background-color: white;
    padding: 5px;
    border-radius: 20px; 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2);
    display: flex;
}

.carre-populaires img {
    width: 37%;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}

.carre-populaires-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.carre-populaires-content h3 {
    margin-left: 10px;
}

.carre-populaires-content .prix {
    margin: 6px 0 0 10px;
    font-size: 14px;
    font-weight: 500;
}

.carre-populaires-content .etoile {
    font-size: 11px;
    margin-left: 10px;
    color: #0065FC;   
}